# Περιβάλλοντα Python (αν τρέξεις τον κώδικα τοπικά στο μέλλον)
venv/
env/
.venv/

# Προσωρινά αρχεία της Python
__pycache__/
*.py[cod]
*$py.class

# Αρχεία με μυστικούς κωδικούς (ΠΟΛΥ ΣΗΜΑΝΤΙΚΟ)
.env
secrets.json

# Αρχεία συστήματος (π.χ. αν δουλεύεις από Mac ή Windows)
.DS_Store
Thumbs.db